body,
html {
    font-size: 18px;
    height: 100%;
    background-color: $page-background-color;
    font-family: Arial, sans-serif;
    line-height: 1.4;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.btn {
    @extend %inuit-btn;
}



.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


// create size-classses
@for $i from 1 through $sizes {
    %size#{$i}of#{$sizes},
    .size#{$i}of#{$sizes} {
        @include size($i, $sizes);
    }
}
