
/**
* Temp testing out d3 bar charts
*/

// ref: http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
.chart {
    height: 0;             /* collapse the container's height */
    width: 100%;           /* specify any width you want (a percentage value, basically) */
    padding-top: 60%;
    position: relative;    /* create positioning context for svg */

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

// .axis {
//     font: 16px sans-serif;
// }

.axis path,
.axis line {
    fill: none;
    stroke: isitlight($slide-background-color, #000, #fff);
    shape-rendering: crispEdges;
}

// .x.axis path {
//     display: none;
// }

.tick,
.label {
    stroke: #none;
    fill: isitlight($slide-background-color, #000, #fff);
}
