.group:after {
    display: table;
    clear: both;
    content: '';
}

.map {
    width: 100%;
    height: 100%;
    background-color: $page-background-color !important;
}

.map-application {
    height: 100%;
}




/**
 *  Overriding Leaflet
 */

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
    background: none !important;

    a {
        color: $border-color;
    }
}