
.overlay-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // transform-style: preserve-3d;
}

.overlay-outer {

    position: absolute;
    z-index: 500;

    @include respond-to(small)  {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    max-width: 40rem;
    @include respond-to(small)  {width: 80vw; }
    @include respond-to(medium) { width: 75vw; }
    @include respond-to(large)  { width: 50vw; }
    @include respond-to(xxlarge){ width: 25vw; }
}

.overlay {
    position: relative;
    padding: rem-calc($base-space*1) rem-calc($base-space*2) rem-calc($base-space*6);
    border-radius: rem-calc($base-curves);
    background-color: $slide-background-color;
    color: isitlight($slide-background-color, #000, #fff);

    box-shadow: 0px 0px 3px 0px $border-color;



    &__header {
        @include font-size(24);
        @include respond-to(small)  {
            @include font-size(18);
        }
    }

    &__text {
        @include respond-to(small)  {
            @include font-size(14);
        }
    }

    // TODO: A bit ad-hoc. should be cleanded up
    &__btns {
        display: flex;

        .btn--text {
            flex: 1 1 auto;
            padding-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            text-align: right;
        }

        .btn--prev,
        .btn--next {
            flex: 0 1 auto;
        }

        .btn--next {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .btn--prev + .btn--text {
            margin-left: 2px;
        }

    }

    &__counter {
        @include font-size(14);
        position: absolute;
        right: rem-calc($base-space*2);
        bottom: rem-calc($base-space);
        opacity: .4;

        a {
            color: inherit;
            text-decoration: none;

            .icon {
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }

        i {
            height: 1.2em;
        }

    }
      // top: 50%;
      // transform: translateY(-50%);

    // position: absolute;
    // width: 25vw; //settes in in scriptet for å kunne animeres
    // height: 25vh;
    // transition: all .2s ease-in-out 0s;  // funka dårlig med ractive


    // positions
    @include respond-to(medium)
    {
        &--tl {
            top: rem-calc($base-space*4);
            left: rem-calc($base-space*4);
        }

        &--tr {
            top: rem-calc($base-space*4);
            right: rem-calc($base-space*4);
        }

        &--br {
            right: rem-calc($base-space*4);
            bottom: rem-calc($base-space*12);
        }

        &--bl {
            bottom: rem-calc($base-space*12);
            left: rem-calc($base-space*4);
        }

        &--center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


    //sizes (obsolete // settes in script for å kunne animeres)
    &--large {
        // width: 50vh;
        // height: 50vh;
    }

}
