


.overlay-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // transform-style: preserve-3d;
}

.overlay {

    position: absolute;
    max-width: 40rem;
    padding: rem-calc($base-space*1) rem-calc($base-space*2) rem-calc($base-space*6);
    border-radius: rem-calc($base-curves);
    background-color: $slide-background-color;
    color: isitlight($slide-background-color, #000, #fff);
    z-index: 1000;

    box-shadow: 0px 0px 3px 0px $border-color;

    @include respond-to(small)  { 
        width: 80vw; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include respond-to(medium) { width: 75vw; }
    @include respond-to(large)  { width: 50vw; }
    @include respond-to(xxlarge){ width: 25vw; }


    &__header {
        text-align: center;
    }

    &__counter {
        position: absolute;
        opacity: .5;
        right: rem-calc($base-space*2);
        bottom: rem-calc($base-space*2);
        @include font-size(14);
    }
      // top: 50%;
      // transform: translateY(-50%);

    // position: absolute;
    // width: 25vw; //settes in in scriptet for å kunne animeres
    // height: 25vh;
    // transition: all .2s ease-in-out 0s;  // funka dårlig med ractive


    // positions
    @include respond-to(medium)
    {
        &--tl {
            top: rem-calc($base-space*4);
            left: rem-calc($base-space*4);
        }

        &--tr {
            top: rem-calc($base-space*4);
            right: rem-calc($base-space*4);
        }

        &--br {
            right: rem-calc($base-space*4);
            bottom: rem-calc($base-space*12);
        }

        &--bl {
            bottom: rem-calc($base-space*12);
            left: rem-calc($base-space*4);
        }

        &--center {
            top: 50%;
            left: 50%;
           transform: translate(-50%, -50%);
        }
    }


    //sizes (obsolete // settes in script for å kunne animeres)
    &--large {
        // width: 50vh;
        // height: 50vh;
    }

}
