
/**
 * Settings
 */

// base line
$base-font-size:            18 !default;
$base-line-height:          24 !default;
$base-space:                8 !default;

// colors
$page-background-color:    #242426 !default; // light: #CDD2D4 || dark: #242426


$border-color:               rgb(81, 77, 78);
$slide-background-color:    rgba(81, 77, 78, .77);
// $slide-background-color :   rgba(0, 0, 0, .77);
// $slide-background-color :   rgba(255, 255, 255, .77);

// inuit
$inuit-namespace:           inuit-;

// sizes
$sizes : 16 !default;



// breakpoints
$breakpoints: (

    'small': (max-width: 360px),
    'medium': (min-width: 361px),
    'large': (min-width: 720px),
    'xlarge': (min-width: 1440px),
    'xxlarge': (min-width: 1920px)

    // 'small': (max-width:  767px),
    // 'medium': (min-width:  768px),
    // 'large': (min-width: 1200px),
    // 'xlarge': (min-width: 1600px),
    // 'xxlarge': (min-width: 1920px)
);

// other
$base-font-weight :         400 !default;
$base-curves:               3;




/**
 * Import files
 */

@import '../bower_components/inuit-defaults/settings.defaults';
@import '../bower_components/normalize-scss/normalize';

@import '../bower_components/inuit-functions/tools.functions';
@import 'tools/functions';
@import 'tools/mixins';

$inuit-btn-background:      rgb(225, 89, 78);
$inuit-btn-color:           #fff;
$inuit-btn-radius:          2px;
@import '../bower_components/inuit-buttons/objects.buttons';

@import 'base';
@import 'type';
@import 'map';
@import 'overlays';
@import 'charts';
@import 'logo';
@import 'temp';

