
$background-color : rgba(0, 0, 0, .77);

.overlay {
    position: absolute;
    width: 25vw;
    height: 25vh;

    padding: rem-calc($base-space*2);

    background-color: $background-color;
    color: isitlight($background-color, #000, #fff);

    z-index: 1000;


    // positions
    &--tl {
        top: rem-calc($base-space*4);
        left: rem-calc($base-space*4);
    }

    &--tr {
        top: rem-calc($base-space*4);
        right: rem-calc($base-space*4);
    }

    &--br {
        right: rem-calc($base-space*4);
        bottom: rem-calc($base-space*4);
    }

    &--bl {
        bottom: rem-calc($base-space*4);
        left: rem-calc($base-space*4);
    }

    &--center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    //sizes
    &--large {
        width: 50vh;
        height: 50vh;
    }

}
