
/**
 * Settings
 */

// base line
$base-font-size:            16 !default;
$base-line-height:          24 !default;
$base-space:                8 !default;

// colors
$page-background-color:     #242426 !default;


$inuit-namespace:           inuit-;


/**
 * Import files
 */

@import '../bower_components/inuit-defaults/settings.defaults';
@import '../bower_components/normalize-scss/normalize';

@import '../bower_components/inuit-functions/tools.functions';
@import 'tools/functions';

@import '../bower_components/inuit-buttons/objects.buttons';

@import 'base';
@import 'map';
@import 'overlays';
@import 'temp';

