node_modules
bower_components
*.log
.DS_Store
.sass-cache
*.sublime-workspace
tjnn-fsi.sublime-workspace
craft/storage/userphotos
craft/storage/runtime
craft/storage/backups
public_html/bower_components
public_html/styles/main.css
craft/config/db.php
public_html/data copy
